<div class="container">
    <div class="row">
      <% flash.each do |key, message| %>
        <div class="alert <%= 'alert-success' if key == 'notice' %> <%= 'alert-danger' if key == 'alert' %>" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
</div>
  <h2>管理者ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation', novalidate: '' }) do |f| %>
    <div class="row ">
      <div class="col-md-7"> 
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>        
      </div>
      <div class="col-md-7">        
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>       
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "admin/shared/links" %>
</div>