<h4>ユーザー情報</h4>
  <table class="table post-index">
    <thead>
      <tr>
        <%= image_tag customer.get_profile_image(100,100) %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >ユーザー</th>
        <th><%= customer.name %></th>
      </tr>
      <tr>
        <th>自己紹介</th>
      </tr>
      <tr>
        <th><%= customer.introduction %></th>
      </tr>
        <% if customer == current_customer %>
      <tr>
         <% unless customer.guest_user? %>
        <th>
        <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fa-solid fa-user-gear"></i> プロフィール編集
          <% end %>
        </th>
        
      </tr>
      <tr>
        <th>
          <%= link_to "退会する", customers_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "text-white btn btn-danger btn-block" %>
        </th>
      </tr>
        <% end %>
        <% end %>
  </table>


