<!-- サイドバー -->
<div class="d-flex">
  <div class="sidebar col-md-2.5">
    <div class="sidebar sticky-top" style="top: 20px;">
      <%= render 'user/customers/sidebar', customer: @customer %>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <% flash.each do |key, message| %>
        <div class="alert <%= 'alert-success' if key == 'notice' %> <%= 'alert-danger' if key == 'alert' %>" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <div class="container mt-3">
      <h2 class="mb-3">投稿レビュー</h2>
      <!-- ユーザー一覧 -->
      <div class="row">
        <div class="col-md-10">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th>投稿者</th>
                  <th>紹介文</th>
                  <th>評価</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td class="align-middle">
                      <%= image_tag post.customer.get_profile_image(80,80), class: "img-fluid rounded-circle" %><br>
                      <%= post.customer.name %>
                    </td>
                    <td class="align-middle">
                      <%= link_to post.title, post_path(post.id) %>
                    </td>
                    <td>
                      <%= render 'user/posts/static_rate', user_post: post %>
                    </td>
                    <td id="favorite_btn_<%= post.id %>">
                      <%= render "user/favorites/btn", post: post %>
                    </td>
                    <td>
                      <% @posts.each do |post| %>
                        <%= render partial: 'user/post_comments/number', locals: { user_post: post } %>
                      <% end %>   
                    </td>
                    <% if current_customer == post.customer %>
                      <td class="align-middle">
                        <%= link_to '編集', edit_post_path(post), class: "text-white btn btn-warning" %>
                      </td>
                      <td class="align-middle">
                        <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "text-white btn btn-danger" %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>