<div class="container">
    <div class="row">
      <% flash.each do |key, message| %>
        <div class="alert <%= 'alert-success' if key == 'notice' %> <%= 'alert-danger' if key == 'alert' %>" role="alert">
          <%= message %>
        </div>
      <% end %>
    </div>
</div>
<div class="container mt-5">
  <h3>レビューコメント一覧</h3>
    <%= link_to '戻る',admin_home_path, class: "text-white btn btn-secondary" %>
    <table class="table mt-3">
      <tr>
        <th>登録写真</th>
        <th>ユーザー</th>
        <th>コメント</th>
        <th>投稿日時</th>
        <th colspan="1"></th>
      </tr>
      <% @post_comments.each do |post_comment| %>
        <tr>
          <td class="col-2"><%= image_tag post_comment.post.customer.get_profile_image(80,80), class: "img-fluid rounded-circle" %></td>
          <td class="col-2"><%= post_comment.post.customer.name %></td>
          <td class="col-4"><%= post_comment.comment %></td>
          <td class="col-2"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td class="col-2">
            <%= link_to '削除', admin_post_comment_path(post_comment), method: :delete, data: { confirm: '本当に削除しますか?' },class: "text-white btn btn-sm btn-danger" %>
         </td>
       </tr>
     <% end %>
   </table>
</div>