<div class="d-flex">
  <div class="sidebar col-md-2.5">
    <div class="sticky-top" style="top: 20px;">
      <%= render 'user/customers/sidebar', customer: @customer %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% flash.each do |key, message| %>
        <div class="alert <%= 'alert' if key == 'notice' %> <%= 'alert-danger' if key == 'alert' %>">
          <%= message %>
        </div>
      <% end %>

      <div class="container mt-3">
        <h1 class="mb-4">レビュー投稿一覧</h1>
        <% if @customer == current_customer %>
          <%= link_to 'レビュー投稿', new_post_path, class: 'text-white btn btn-primary mb-3 large-text' %>
        <% end %>
        <div>
          <%= link_to '新しい順', posts_path(latest: "true") %> |
          <%= link_to '古い順', posts_path(old: "true") %> |
          <%= link_to '評価の高い順', posts_path(star_count: "true") %>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>ユーザー</th>
                <th>タイトル</th>
                <th>おすすめ度</th>
                <th colspan="6"></th>
              </tr>
            </thead>
            <tbody>
              <% @user_posts.each do |user_post| %>
                <tr>
                  <td>
                    <div class="media">
                      <%= image_tag user_post.customer.get_profile_image(80,80), class: "mr-3 rounded-circle" %>
                      <div class="media-body">
                        <h5 class="mt-0"><%= user_post.customer.name %></h5>
                      </div>
                    </div>
                  </td>
                  <td><%= link_to user_post.title, post_path(user_post), class: 'link-primary' %></td>
                  <td><%= render 'user/posts/static_rate', user_post: user_post %></td>
                  <td>
                    <% user_post.tags.each do |tag| %>
                      <i class="fa-sharp fa-solid fa-tag"></i>
                      <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
                      <%= "(#{tag.posts.count})" %>
                    <% end %>
                  </td>
                  <td id="favorite_btn_<%= user_post.id %>">
                    <%= render "user/favorites/btn", post: user_post %>
                  </td>
                  <td>
                    <%= render "user/post_comments/number", user_post: user_post %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <% if @user_posts.present? %>
          <div class="d-flex justify-content-center">
            <%= paginate @user_posts, class: "pagination justify-content-center" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>