<div class="container mt-3">
  <% flash.each do |key, message| %>
    <div class="alert <%= ' alert-danger' if key == 'notice' %> <%= 'alert-danger' if key == 'alert' %> alert-custom">
      <%= message %>
    </div>
  <% end %>
  <h1 class="mb-4">レビュー投稿一覧</h1>
  <%= link_to 'レビュー投稿', new_post_path, class: ' text-white btn btn-primary mb-3 large-text' %>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ユーザー</th>
          <th>タイトル</th>
          <th>おすすめど</th>
          <th colspan="6"></th>
        </tr>
      </thead>
      <tbody>
        <% @user_posts.each do |user_post| %>
          <tr>
            <td>
              <div class="media">
                <%= image_tag user_post.customer.get_profile_image(80,80), class: "mr-3 rounded-circle" %>
                <div class="media-body">
                  <h5 class="mt-0"><%= user_post.customer.name %></h5>
                </div>
              </div>
            </td>
            <td><%= link_to user_post.title, post_path(user_post), class: 'link-primary' %></td>
            <!--おすすめリスト-->
            <td><%= render 'user/posts/static_rate', user_post: user_post %></td>
            <!--タグリスト-->
            <td>
              <% user_post.tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
                <%="(#{tag.posts.count})" %>
              <% end %>
            </td>
            <!--いいねリスト-->
            <td id="favorite_btn_<%= user_post.id %>">
              <%= render "user/favorites/btn", post: user_post %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>