<nav class="navbar navbar-expand-lg" style="background-color: darkorange;">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"><i class="fa-brands fa-old-republic"></i>おやこのひろば</a>


      <ul class="navbar-nav">
        <!--admin側ヘッダー-->
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% elsif request.fullpath.include?("/admin") %>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <%# admin用新規登録リンク %>
          <!--<li class="nav-item">-->
          <!--  <%#= link_to  new_admin_registration_path, class: 'nav-link text-light' do %>-->
          <!--    <i class="fa-solid fa-user-plus"></i> 新規登録-->
          <!--  <%# end %>
          <!--</li>-->
          <li class="nav-item">
            <%= link_to  new_admin_session_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-to-bracket"></i> ログイン
            <% end %>
          </li>
        <!--customer側ヘッダー  -->
        <% elsif customer_signed_in? %>
          <div class="d-flex justify-content-center mb-2">
            <%= render "user/searches/form" %>
          </div>
          <li class="nav-item">
            <%= link_to  customer_path(current_customer), class: 'nav-link text-light' do %>
              <i class="fa-solid fa-house-user"></i>マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to customers_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-user-group"></i>ユーザー一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to posts_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-blog"></i> 投稿一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-link"></i> 知育菓子について
            <%end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-to-bracket"></i></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>